<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title  %></title>
    <link rel="stylesheet" href="/assets/css/home.css">
</head>
<body>
    <div class="container">
        <div id="mini-blocks">
            <div>
                <h1>ToDo App</h1>
            </div>
            <div>
                <p>Description</p>
                <input type="text" name="description" id="description" placeholder="What do you need to do?">
            </div>
            <div>
                <div id="category">

                </div>
                <div id="dueDate">
                    
                </div>
            </div>

        </div>
        
        
    </div>
</body>
</html>