/* Global stylings */

/* Body styles */
body {
    margin: 15px;
    margin-top: 0;
    background-color: rgb(138, 210, 234);
}

/* Container styles */
.container {
    height: auto;
    width: 75%;
    position: relative;
    left: 10%;
    text-align: center;
    padding: 2rem 0;
    background-color: lightyellow;
    box-shadow: 0 0 10px 6px rgb(145, 144, 144);
    opacity: 0.8;
}



/* Input Form Styling */

/* Form container styles */
#category_Form div {
    width: 100%;
    display: inline-flex;
}

/* Input alignment styles */
.input-align {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Description input styles */
#description {
    text-align: left;
    border-top: .1px solid grey;
    padding: 10px;
    box-sizing: border-box;
}

/* Category input styles */
#category {
    margin: 10px;
    margin: 0;
    border: .1px solid grey;
    border-left: none;
    padding: 10px;
    box-sizing: border-box;
}

/* Due date input styles */
#dueDate {
    margin: 0;
    border: .1px solid grey;
    border-left: none;
    border-right: none;
    padding: 10px;
    box-sizing: border-box;
}

/* Shared input styles */
input {
    border: none;
    width: 90%;
    height: 50px;
    background-color: transparent;
    font-size: 16px;
    font-weight: 230;
    transition: all .5s ease-out;
}

/* Active state styles for input */
input:active {
    border: none;
    background-color: grey;
}

/* Category selection styles */
#catg {
    border: none;
    margin: 5px;
    width: 90%;
    height: 100%;
    background-color: transparent;
}

/* Styling for category options */
#catg option {
    background-color: inherit;
}

/* Button container styles */
#buttons {
    position: relative;
    /* display: flex; */
    left: 10%;
    margin: 4% 0;
}

/* Button styles */
button {
    border: none;
    background-color: transparent;
    height: 2rem;
    box-shadow: 0px 0px 4px 1px cornflowerblue;
    position: relative;
    top: 7px;
}

/* Hover styles for buttons */
#addTask:hover, #deleteTask:hover {
    box-shadow: 1px 1px 8px 2px lightseagreen;
    cursor: pointer;
}

/* Styles for the "Add Task" button */
#addTask {
    width: 50%;
    font-size: 1.2rem;
    color: whitesmoke;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    padding: 7px;
    border: none;
}

/* Styles for the "Delete Task" button */
#deleteTask {
    width: 50%;
    font-size: 1.2rem;
    color: whitesmoke;
    padding: 7px;
    border: none;
    background: radial-gradient(circle, rgba(63,94,251,.5) 0%, rgba(252,70,107,.5) 100%);
}



/* Tasks display styling */

/* Task view container styles */
#task-view {
    padding: 3%;
}

/* List item styles */
ul li {
    list-style: none;
    width: 95%;
    box-shadow: 2px 3px 7px 0px lightseagreen;
}

/* Task list container styles */
#task-list {
    display: flex;
}

/* Styles for task checkboxes */
#task-list input {
    width: 15px;
}

/* Task log container styles */
#tasks-log {
    width: 70%;
    padding: 10px;
}

/* Styles for task log entries */
#tasks-log p {
    display: inline-flex;
    align-items: center;
    width: 100%;
    margin: 5px;
}

/* Category header styles */
#categored {
    width: 15%;
    margin: 30px;
    padding: 10px;
    font-size: 20px;
    box-shadow: 1px 1px 3px 5px lightgreen;
}






/* Custom Css for different categories based */


/* Category-specific background colors */

/*
.personal-category {
  background-color: #ff9999; 
}

.work-category {
  background-color: #99ccff; 
}

.school-category {
  background-color: #ffcc66; 
}

.cleaning-category{
    background-color: #ffaa22;
}

.others-category{
    background-color: #ccaa22;
}
*/
